@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
  background-color: black;
  font-family: 'Staatliches', sans-serif;
}

nav {
  height: 8rem;

    ul {

      li a {
        font-size: 2rem;
        padding: 20px 20px 0 0;
        transition: color 0.5s ease;

        &:hover {
          color: red;
        }
      }
    }
}

div.card {
  border: 5px solid red;
}

div.card-content {

  span.card-title {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
}

div.card-action {
  font-size: 1.5rem;

  a {
    color: red !important;

    &#respond {
      position: absolute;
      right: 0vw;
    }
  }

}

.hero {
  height: 100vh;
  background: black;
  color: white;
}

h1 {
  font-size: 12rem;
  position: absolute;
  top: 15rem;
  left: 28vw;
}

.input-field.col {

  label {
    color: white;
    font-size: 1.5rem;

      &:active {
        color: red !important;
      }
  }

  input {
    color: white;
    padding-top: 2.5rem;
    padding-left: 0.5rem;
    transition: border-bottom -webkit-box-shadow 1s ease;

      &:focus {
        border-bottom: 1px solid red !important;
        -webkit-box-shadow: 0 1px 0 0 red !important;
        box-shadow: 0 1px 0 0 #red !important;
      }
  }
}

button.button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid white;
  font-size: 1.5rem;
  margin-left: 2px;
  margin-right: 2px;
  font-family: 'Staatliches', cursive;
  position: absolute;
  left: 67%;
  transition: background-color 0.75s ease;

    &:hover {
      background-color: red;
    }
}

.container {
  padding-top: 50px;

  &.register {
    padding-top: 10px;
    width: 50vw;
  }

  &.login {
    padding-top: 45px;
    width: 50vw;
  }
}

h2 {
  color: white;
  padding: 10px;

    &.profile-following-header {
      font-size: 1.5rem;
    }

    &.profile-against-header {
      font-size: 1.5rem;
    }

    &.username-header {
      text-align: right;
      padding: 2px;
    }
}

div.row {
  margin: 0;
}

div.collapsible-body {
  color: white;
}

div {

  &.beefs-following {
    // width: 50%;
  }

  &.beefs-against {
    // width: 50%;
  }

  &.profile-flames {
    text-align: right;

      img {
        padding: 3px;
      }
  }

  &.index-flames {
    text-align: center;
  }
}
