@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
  background-color: black;
  font-family: 'Staatliches', sans-serif;
}

div.card {
  border: 5px solid red;
}

div.card-content {

  span.card-title {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
    text-align: center;
  }
}

div.card-action {
  font-size: 1.5rem;

  a {
    color: red !important;

    &#respond {
      position: absolute;
      right: 0vw;
    }
  }

}

.hero {
  height: 100vh;
  background: black;
  color: white;
}

h1 {
  font-size: 12rem;
  position: absolute;
  top: 15rem;
  left: 28vw;
}
